body {
	background: url(../img/background.jpg);
	background-size: cover;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}

h1 {
	margin: 0;
	text-transform: uppercase;
	font-weight: 200;
}

section {
	background: rgba(244,244,244,0.8);
	margin: 3% auto;
	padding: 2%;
	text-align: center;
	width: 300px;
  border: 1px solid rgb(209,209,215);
}

a {
	color: inherit;
	text-decoration: none;
}

.info-container {
	margin-top: 2%;
	margin-left: 10px;
	text-align: justify;
	width: 280px;
	font-size: 0px;
}

.info-header {
	display: inline-block;
	width: 20%;
	text-transform: uppercase;
	font-weight: 200;
  font-size: 16px;
}

.info {
	display: inline-block;
  width: 80%;
  text-align: right;
  font-size: 16px;
}

.map {
	margin-top: 2%;
	opacity: 0.8;
	width: 280px;
	height: 280px;
}

.button {
	background-image: url('../img/UBER_API_Button_2x_Grey_hard edge.png');
	background-size: cover;
	width: 280px;
	height: 44px;
	margin: 0 auto;
}

#time {
	text-align: right;
	margin-top: 2%;
	padding-top: 12px;
	padding-right: 14px;
}